/* @theme watercolors */
@import "default";

:root {
  font-family: "Trenda", "Uビュー R", "Noto Sans CJK JP";
  width: 1980px;
  height: 1080px;
}

a {
  color: #003366;
}

code {
  font-family: "Ricty Diminished Discord";
  color: #111;
  background-color: #999;
}

section.title {
  text-align: right;
}

section.title h1 {
  color: #020;
  font-family: "Trenda", "Uビュー R", "Noto Sans CJK JP";
  font-weight: bold;
  font-size: 150px;
  position: absolute;
  right: 50px;
  bottom: 100px;
}

section.title h2 {
  color: #002200;
  font-size: 75px;
  position: absolute;
  right: 50px;
  bottom: 0px;
}

section.agenda {
  color: #000005;
  font-size: 50px;
  font-weight: bold;
  padding: 2%;
}

section.agenda h1 {
  font-weight: bold;
  font-size: 100px;
  color: #003366;
  position: relative;
  left: 2%;
  top: 0%;
}

section.subtitle h1 {
  font-weight: bold;
  color: #050505;
  font-size: 100px;
  padding: 50px;
}

section.subtitle h2 {
  font-weight: bold;
  color: #050505;
  font-size: 50px;
  position: absolute;
  bottom: 10px;
  right: 50px;
}

section.content {
  font-size: 50px;
  font-weight: bold;
  /* padding: 2%; */
}

section.content h1 {
  font-weight: bold;
  color: #002200;
  font-size: 80px;
  position: absolute;
  top: 50px;
}

section::after {
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
  color: #050505;
  font-family: "Trenda";
  font-weight: bolder;
  font-size: 50px;
}
