/* @theme osc21do
 * @auto-scaling true
 */

@import "base";

:root {
  font-family: "Raleway Thin", "Uビュー R", "Noto Sans CJK JP";
  width: 1920px;
  height: 1080px;
  background-color: #fbc821;
  color: #111111;
}

a {
  color: #003366;
}

pre code {
  font-family: "Ricty Diminished Discord";
  font-weight: bold;
}

pre code {
  font-family: "Ricty Diminished Discord";
}

section.title {
  text-align: right;
  background-image: url("./images/scribleアートボード\ 1.png");
}

section.title h1 {
  font-weight: bold;
  font-size: 130px;
  text-align: left;
  position: absolute;
  right: 200px;
  left: 200px;
  bottom: 250px;
}
section.title h2 {
  font-weight: bold;
  font-size: 50px;
  text-align: left;
  position: absolute;
  right: 250px;
  left: 250px;
  top: 50px;
}

section.subtitle {
  background-image: url("./images/scribleアートボード\ 4.png");
}
section.subtitle h1 {
  font-weight: bold;
  font-size: 100px;
  text-align: left;
  position: absolute;
  right: 150px;
  left: 150px;
  bottom: 400px;
}

svg[data-marpit-svg].agenda {
  display: block;
  width: 100vw;
  height: 100vh;
}

section.agenda {
  background-image: url("./images/scribleアートボード\ 4.png");
}
section.agenda h1 {
  font-weight: bold;
  font-size: 80px;
  text-align: left;
  position: absolute;
  right: 150px;
  left: 150px;
  top: 20px;
}
section.agenda p,
ol {
  font-weight: 500;
  font-size: 50px;
  text-align: left;
  padding-left: 50px;
  position: relative;
  top: 50px;
  left: 50px;
}

section::after {
  content: attr(data-marpit-pagination) " / " attr(data-marpit-pagination-total);
  font-family: "Trenda";
  font-weight: bolder;
  font-size: 40px;
}

/*
Gruvbox style (light) (c) Pavel Pertsev (original style at https://github.com/morhetz/gruvbox)
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fbf1c7;
}

.hljs,
.hljs-subst {
  color: #3c3836;
}

/* Gruvbox Red */
.hljs-deletion,
.hljs-formula,
.hljs-keyword,
.hljs-link,
.hljs-selector-tag {
  color: #9d0006;
}

/* Gruvbox Blue */
.hljs-built_in,
.hljs-emphasis,
.hljs-name,
.hljs-quote,
.hljs-strong,
.hljs-title,
.hljs-variable {
  color: #076678;
}

/* Gruvbox Yellow */
.hljs-attr,
.hljs-params,
.hljs-template-tag,
.hljs-type {
  color: #b57614;
}

/* Gruvbox Purple */
.hljs-builtin-name,
.hljs-doctag,
.hljs-literal,
.hljs-number {
  color: #8f3f71;
}

/* Gruvbox Orange */
.hljs-code,
.hljs-meta,
.hljs-regexp,
.hljs-selector-id,
.hljs-template-variable {
  color: #af3a03;
}

/* Gruvbox Green */
.hljs-addition,
.hljs-meta-string,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-string,
.hljs-symbol {
  color: #79740e;
}

/* Gruvbox Aqua */
.hljs-attribute,
.hljs-bullet,
.hljs-class,
.hljs-function,
.hljs-function .hljs-keyword,
.hljs-meta-keyword,
.hljs-selector-pseudo,
.hljs-tag {
  color: #427b58;
}

/* Gruvbox Gray */
.hljs-comment {
  color: #928374;
}

/* Gruvbox Purple */
.hljs-link_label,
.hljs-literal,
.hljs-number {
  color: #8f3f71;
}

.hljs-comment,
.hljs-emphasis {
  font-style: italic;
}

.hljs-section,
.hljs-strong,
.hljs-tag {
  font-weight: bold;
}
